controller_manager:
  ros__parameters:
    update_rate: 10  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    forward_position_controller:
      type: forward_command_controller/ForwardCommandController

forward_position_controller:
  ros__parameters:
    joints:
      - first_joint
    interface_name: position

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 10  # Hz
    use_sim_time: true
    joints:
      - first_joint