<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo ROS2 Control Plugin -->
  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
      <parameters>$(find demo_control)/config/robot_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Link physics properties -->
  <gazebo reference="first_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo reference="second_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Blue</material>
  </gazebo>
  
</robot>

