controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: "joint_state_broadcaster/JointStateBroadcaster"

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    joints:
      - base_link_link1
      - link1_link2

joint_trajectory_controller:
  ros__parameters:
    joints:
        - base_link_link1
        - link1_link2
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity




